<h1>About Stitch Philly</h1>
<h2>Calling all crafters, fiber artists, knitters and stitchers...</h2>

<h4>Let's make something beautiful!</h4>

<p>I offer patient and clear in-person lessons or classes for groups to help you get on your way with a rewarding and relaxing new craft. Even if you can't tell a knit from a purl, you can be a full-fledged knitter by the end of our first two-hour session!</p>

<p>I learned to crochet from my grandmother when I was 8, loved it for a few projects, and then dropped it for whatever the next hobby obsession was (legos? origami? Oregon Trail?) I picked up a crochet hook again in my late twenties, and never looked back. I taught myself to knit and fell in love with that as well!</p>

<h4>And now I'd love to share my passion for fiber crafts with you!</h4>

