<div class="jumbotron">
	<h1>Get in touch!</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="circle contact">
				<%= image_tag("circle_email.png", class: "img-responsive yarn" ) %>
			</div>
			<h3>Email me at info[at]stitchphilly.com</h3>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="circle contact">
				<%= image_tag("circle_news.png", class: "img-responsive yarn" ) %>
			</div>
			<h3>Sign up for the Stitch Philly newsletter</h3>
		</div>
	</div>
</div>

