<div class="jumbotron">
	<h1>Welcome to Stitch Philly!</h1>
	<h2>Your one-stop shop for all things yarn, crafts, and Philly-made.</h2>
</div>

<div class="container feature">
	<div class="circle index">
		<%= image_tag("knitting.png", height: '225', width: '225', class: "img-responsive yarn" ) %>
	</div>
	<p>Book Your One-on-One Lesson!</p>	
</div>