<div class="jumbotron">
	<h1>Welcome to Stitch Philly!</h1>
	<h2>Your one-stop shop for all things yarn, crafts, and Philly-made.</h2>
</div>

<div class="container feature">
	<div class="circle index">
		<%= link_to image_tag("knitting.png", height: '225', width: '225', class: "img-responsive yarn" ), product_path(2) %>
	</div>
	<p class="book_lesson"><%= link_to 'Book Your One-on-One Lesson!', product_path(3) %></p>
</div>