<div class="jumbotron">
	<h1>Welcome to Stitch Philly!</h1>
	<h2>Your one-stop shop for all things yarn, crafts, and Philly-made.</h2>
</div>

<div class="container feature">
	<%= image_tag("circle_knitting.png", class: "img-responsive yarn" ) %>
	<p>Book Your One-on-One Lesson!</strong></p>	
</div>

<h4>Sign up for the Stitch Philly newsletter!</h4>