<div class="container">
	<div class="jumbotron">
		<h1 class="thankyou">Thank you!</h1>
		<div>
			<p class="thankyou">We have received your message and will repond as soon as possible.</p>
		</div>
	</div><!-- / jumbotron -->
	<button class="thankyou">
		<%= link_to "Back", static_pages_contact_path %>
	</button>
</div><!-- / container -->