// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'Nickainley';
	src:font-url('Nickainley-Normal.otf');
	font-weight: normal;
	font-style: normal;
}

$break-small: 767px;
$break-medium: 768px;

$font-headings: 'Nickainley', sans-serif;
$font-body: poiret-one, sans-serif;

$primary-color: #fff;
$primary-transparent: rgba(255, 255, 255, 0.5);
$accent-color: #807182;
$accent-transparent: rgba(128, 113, 130, 0.9);
$accent-transparent-100: rgba(128, 113, 130, 0);
$accent-color-2: rgba(50, 50, 50, 0.8);

$transition: all 500ms ease-in;



body {
	font: $font-body;
	color: $primary-color;
	font-size: 1.8em;
	background: image-url('knit-869221_1920.jpg') no-repeat center center fixed;
	text-align: center;
}

h1,
h2,
h3 {
	font: 100% $font-headings;
}

h1 {
	@media screen and (max-width: $break-small) {
		font-size: 4em;
	}
	@media screen and (min-width: $break-medium) {
		font-size: 6em;
	}
}

h2 {
	@media screen and (max-width: $break-small) {
		font-size: 2em;
	}
	@media screen and (min-width: $break-medium) {
		font-size: 2.5em;
	}
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
}


/* ----- NAVIGATION ----- */

.nav {
	position: fixed;
	background-color: $accent-transparent;
	height: 60px;
	width: 100%;
	top: 0;
	.menu {
		height: 100%;
		list-style: none;
		padding: 0;
		@media screen and (min-width: $break-medium)  {
			text-align: right;
			&:last-child { margin-right: 20px; }
		}
	}
	.menu_item li {
		height: 100%;
		display: inline-block;
		padding: 10px 17px;
		transition: $transition;
		&:hover { background-color: $accent-color-2; }
	}
}

.search-form {
	margin: 5px 10px;
	& input#q {
		top: -5px;
	}
	& input[type="submit"] {
		display: inline-block;
		background: url("search.png") no-repeat center center;
		height: 30px; width: 30px;
		padding: 5px;
		border: none;
	}
}

div.menu_item.navbar-form.navbar-right {
	padding-top: 0;
	margin: 0;
	box-shadow:none;
	@media screen and (min-width: $break-medium) {
		margin-top: 13px;
	}
}

ul.nav.pull-left {
	display: inline-block;
	height: 60px;
	width: 60px;
	left: 10px;
	& li.login a {
		height: 60px;
		color: $primary-color;
		background-color: $accent-transparent-100;
		padding-top: 20px;
		transition: $transition;
		-moz-transition: $transition;
		-webkit-transition: $transition;
		&:hover {
			background-color: $accent-color-2;
		}
	}
}


/* ----- NOTICES & ALERTS ----- */

.notice-alert {
	margin-top: 75px;
	color: $primary-color;
	.alert.alert-info {
		background-color: $primary-transparent;
		color: $accent-color-2;
		font-size: 1em;
		border: none;
		border-radius: 5px;
	}
}

/* ----- JUMBOTRON ----- */

.jumbotron {
	background: none;
	@media screen and (max-width: $break-small){
		margin-top: 75px;
	}
	@media screen and (min-width: $break-medium){
		margin-top: 125px;
	}
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0;
	h1 {
		@media screen and (max-width: $break-small) {
			font-size: 4em;
		}
		@media screen and (min-width: $break-medium) {
			font-size: 6em;
		}
	}
}


/* ----- INDEX PAGE ----- */

.feature {
	margin: 50px auto 100px;
	p {
		letter-spacing: 1.3px;
		font-size: 1.1em;
	}
}

.circle.index {
	background-color: $accent-transparent;
	height: 225px;
	width: 225px;
	border-radius: 100%;
	border: 0px solid #000000;
	margin: 35px auto 15px;
	transition: $transition;
	&:hover {
		background-color: $accent-color-2;
	}
	img {
		margin: 15px auto;
	}
}

p.book_lesson a {
	color: $primary-color;
	text-decoration: none;
	transition: $transition;
	-moz-transition: $transition;
	-webkit-transition: $transition;
	&:hover {
		font-weight: bold;
		text-decoration: underline;
	}
}


/* ----- ABOUT PAGE ----- */

div.container.about {
	background-color: $accent-color-2;
	padding: 20px 75px;
	border-radius: 15px;
	border: 0px solid #000000;
	p {
		font-size: 1.0em;
	}
}


/* ----- CONTACT PAGE ----- */

.circle.contact {
	height: 200px;
	width: 200px;
	margin: 100px auto 15px;
	background-color: $accent-transparent;
	border-radius: 100%;
	transition: $transition;
	border: 0px solid #000000;
	&:hover {
		background-color: $accent-color-2;
	}
	img {
		margin: 0 auto;
	}
}

/* ----- CONTACT FORM ----- */

h1.contact-us {
	margin-top: 150px;
}

.form-group {
	text-align: left;
}

.col-md-12.contact {
	@media screen and (max-width: $break-small) {
		margin: 10px 5%;
		width: 90%;
	}
	@media screen and (min-width: $break-medium) {
		width: 60%;
		margin: 10px 20%;
	}
}

button.contact {
	background-image: none;
	background-color: $primary-color;
	border: none;
	border-radius: 5px;
	&>input {
		padding: 0;
		margin: 0;
		background-image: none;
		width: 100px; height: 30px;
		text-align: center;
	}
}


/* ----- THANK YOU ----- */

h1.thankyou {
	margin-top: 150px;
	margin-bottom: 75px;
}
p.thankyou{
	margin-bottom: 50px;
}

button.thankyou {
	padding: 10px 50px;
	border: none;
	border-radius: 5px;
	background-color: $primary-color;
	margin-bottom: 70px;
}


/* ----- LANDING PAGE - FEATURED PRODUCTS ----- */

.carousel-inner {
	img {
		margin: 25px auto 30px;
	}

	h2 {
		margin-bottom: 0;
		padding-bottom: 10px;
	}
}

h4.link_to_product {
	margin-bottom: 60px;
}

.link_to_product a {
	color: #fff;
}



/* ----- SIGN-IN ----- */

h2.sign-in {
	font-size: 4em;
	margin: 65px auto 45px;
}

.field.sign-in input {
	display: inline-block;
	border-radius: 7px;
	padding: 7px 10px;
	width: 300px;
	box-shadow: none;
	border: 0px;
}

div.remember {
	margin: 25px auto;
	font-size: 1.1em;
}

.actions.sign-in input {
	margin-bottom: 25px;
	background-color: $primary-color;
	border: 0px;
	border-radius: 7px;
	box-shadow: none;
	padding: 7px 30px;
	transition: $transition;
	-moz-transition: $transition;
	-webkit-transition: $transition;
	&:hover {
		background-color: $accent-color;
		color: $primary-color;
	}
}

.sign-up {
	margin-top: 25px;
}

div.sign-in.bottom-link {
	margin-bottom: 200px;
	& a {
		color: $primary-color;
		font-size: 1.1em;
		text-align: left;
	}
}


/* ----- FOOTER ----- */

.footer.template {
	background-color: $accent-transparent;
	margin-top: 150px;
	bottom: 0px;
	height: 50px;
	width: 100%;
	padding-top: 10px;
}


